<!--Des choqses ne servant à rien-->

<script type = "text/javascript" src="{{url_for('static', filename="js/afficherLogo.js")}}"></script>
<script type = "text/javascript" src="{{url_for('static', filename="js/mesPoints.js")}}"></script>
<script>L.geoJSON(myGeoJSON, {onEachFeature: onEachFeature}).addTo(map);</script>


<script type="module">
    import {afficherLogo} from "./static/js/logo.js"
    afficherLogo(map);
    L.control.watermark({ position: 'bottomleft' }).addTo(map);
  </script>





<script type="module">
    import {monPerimetre} from "./static/js/cercle.js"
    import {poseLeCercle} from "./static/js/cercle.js"
    poseLeCercle()
    monPerimetre.addTo(map);
  </script>

